@font-face {
  font-family: "Open Sans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-style: normal;
  font-weight: bold;
}

* {
  font-family: "Open Sans";
  margin: 0 auto;
  padding: 0;
}

